body {
  background: #fff9C4;
  color:      ;
}
h1 {
  color: #f43;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
background-color: #fff59D;
}
h2 {
  color: #f43;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
background-color: #fff59D;
}
 h3 {
   color: #f43;
   font-size: x-large;
   text-align: center;
   text-decoration: underline;
 background-color: #fff59D;
 }
 h4 {
   color: #f43;
   font-size: large;
   text-align: left;
   text-decoration: underline;
 background-color: #fff59D;
 }
